<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>
                Sobre mim
            </h1>

            <p>Olá, sou Isaac de Lyra Jr, estudante de Engenharia de Computação.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>